<!-- https://goo.gl/hyXDPy -->
<!DOCTYPE html>
<html ng-app="aulaApp">
	<head>
		<title>Aula 01</title>
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="angular-ui-router.min.js"></script>
	</head>
	<body>
		<nav>
			Logo 
			<a ui-sref="index">Index</a>
			<a ui-sref="formulario">Formulario</a>
		</nav>

		<ui-view></ui-view>	

		<script type="text/ng-template" id="index.html">
			<h1>Nova Pagina Index - {{titulo}}</h1>

			<table>
				<thead>
					<tr>
						<th>Nome Contato</th>
						<th>Telefone</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="contato in contatos">
						<td>{{contato.nome}}</td>
						<td>{{contato.telefone}}</td>
						<td><button ng-click="removerContato(contato)">remover</button></td>
					</tr>
				</tbody>
			</table>

		</script>

		<script type="text/ng-template" id="formulario.html">
			<h1>Formulario</h1>
			<form>
				<label>Nome</label>
				<input type="text" name="nome" ng-model="contato.nome">
				<label>Telefone</label>
				<input type="text" name="telefone" ng-model="contato.telefone">

				<button ng-click="salvar()">Salvar</button>
			</form>
		</script>		

		<script type="text/javascript" src="app.js"></script>
	</body>
</html>