<!-- https://goo.gl/hyXDPy -->
<!DOCTYPE html>
<html ng-app="aulaApp">
	<head>
		<title>Aula 01</title>
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="angular-ui-router.min.js"></script>
	</head>
	<body>

		<div ng-controller="IndexCtrl">
			<h1>{{titulo}}</h1>
			<button ng-click="alteraTitulo()">Alterar Titulo</button>
		</div>

		<div ng-controller="FormularioCtrl" style="margin-top: 30px;">
			<form>
				<label>Nome</label>
				<input type="text" name="nome" ng-model="contato.nome">
				<label>Telefone</label>
				<input type="text" name="telefone" ng-model="contato.telefone">

				<button ng-click="salvar()">Salvar</button>
			</form>
			<pre ng-show="contato.nome !== ''">
				{{contato}}
			</pre>

			<h4>Contatos ({{contatos.length}})</h4>
			<ul ng-repeat="contato in contatos">
				<li>{{contato.nome}} - {{contato.telefone}} <button ng-click="remover(contato)">remover</button></li>
			</ul>
		</div>
		

		<script type="text/javascript">
			angular.module("aulaApp", [])
			.controller("IndexCtrl", function($scope){
				$scope.titulo = "Aula Pos";

				$scope.alteraTitulo = function(){
					$scope.titulo = "Novo Titulo";
				}
			})
			.controller("FormularioCtrl" , function($scope){
				$scope.contatos = [];
				$scope.contato = {nome:"", telefone:""};

				$scope.salvar = function(){
					var contato = {nome: $scope.contato.nome, telefone: $scope.contato.telefone};
					//Clonar um objeto
					//contato = angular.copy($scope.contato)
					//contato = JSON.parse(JSON.strigify($scope.contato))	
					$scope.contatos.push(contato);
				}

				$scope.remover = function(contato){
					var idx = $scope.contatos.indexOf(contato); 
					$scope.contatos.splice(idx, 1);
				}
			})
		</script>
	</body>
</html>